.series {
  flex-direction: column;
  justify-content: center;

  &__card {
    margin: 20px;
  }


  &__header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  &__content {
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
  }
}
