.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;


  &__header {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  &__content {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
  }
}
