.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;


  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  &__content {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.chip {
  cursor: pointer;
}
