.show {
  flex: 1;
  &__info,
  &__rating,
  &__description,
  &__type,
  &__title {
    padding: 10px;
  }

  &__genres {
    margin-top: auto;
  }

  &__details {
    margin-top: 50px;

    & > h1 {
      font-size: 40px;
      font-weight: bold;
    }
  }

  &__details__content {
    padding: 10px;
    margin-left: 20px;
    font-size: 18px;
    max-width: 40%;
  }

  &__airday {
    padding: 0 5px;
    display: flex;
  }
}
