:root {
  --white: #fff;
  --grey: #fcf7ff;
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--grey);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.flex {
  display: flex;
}

.flex-vertical {
  flex-direction: column;
}

.button__bar {
  margin-top: auto;
  display: flex;
  justify-content:center;
}
